/Testes
/a
/alfa.dat
/autovalores.dat
/autovetores.dat
/erros.dat
plotalfa.dat
/Spline 2D Vetorial/Testes
/Spline 2D Escalar/Testes
/Spline 2D Vetorial/autovetores.dat
/Spline 2D Vetorial/autovalores.dat
/Spline 2D Vetorial/alfa.dat
/Spline 2D Vetorial/fort.14
/Spline 2D Vetorial/a
/Spline 2D Vetorial/erros.dat