/Testes
/a
/alfa.dat
/autovalores.dat
/autovetores.dat
/erros.dat
plotalfa.dat
/Spline 2D Vetorial/Testes
/Spline 2D Escalar/Testes
/Spline 2D Vetorial/autovetores.dat
/Spline 2D Vetorial/autovalores.dat
/Spline 2D Vetorial/alfa.dat
/Spline 2D Vetorial/fort.14
/Spline 2D Vetorial/a
/Spline 2D Vetorial/erros.dat
/Spline 2D Escalar/autovetoresG.dat
/Spline 2D Escalar/autovetoresZ.dat
/Spline 2D Escalar/a
/Spline 2D Escalar/alfa.dat
/Spline 2D Escalar/autovalores.dat
/Spline 2D Escalar/erros.dat
/Spline 2D Escalar/plot_psi_z.dat
/Spline 2D Escalar/plot_psi.dat
/Spline 2D Escalar/plot
/Spline 2D Escalar/coeficientes.dat



